aiohttp==3.8.4
aiosignal==1.3.1
aiosqlite==0.18.0
async-timeout==4.0.2
asyncio==3.4.3
attrs==22.2.0
certifi==2022.12.7
charset-normalizer==3.0.1
emoji==2.2.0
frozenlist==1.3.3
greenlet==2.0.2
idna==3.4
mcrcon==0.7.0
multidict==6.0.4
novus @ git+https://github.com/Voxel-Fox-Ltd/Novus.git@0e6127f8ee6222612c34d559d701a12ff78410f7
python-dotenv==1.0.0
requests==2.28.2
SQLAlchemy==2.0.4
typing_extensions==4.5.0
urllib3==1.26.14
vf-flags==0.2.3
yarl==1.8.2
